#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body {
  overscroll-behavior-y: contain;
}

.canvas {
  height: 550px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.reset-btn {
  padding: 10px 5px;
  background-color: #fff;
  border: 1px solid black;
}

.reset-btn:active {
  background-color: #b9b9b9;
}
